In [1]:
import numpy as np
import pandas as pd

In [35]:

products = [pow(10,2),pow(10,4),pow(10,6),pow(10,8),pow(10,10)]
products = np.asarray(products)
products
min_text_len = np.sqrt(products)
min_text_len

array([1.e+01, 1.e+02, 1.e+03, 1.e+04, 1.e+05])

In [36]:
product_df = pd.DataFrame(columns=['product','factor1','factor2'])

for product, min_len in zip(products.astype(np.int64),min_text_len.astype(np.int64)):
    for f1 in range(min_len,(product+1)):
        f2 = product / f1
        if (f2.is_integer()):
            new_row = {'product' : product, 'factor1' : f1, 'factor2' : f2}
            product_df = product_df.append(new_row, ignore_index=True)
            print('Product %d: F1: %d, F2: %d' % (product,f1,f2))

Product 100: F1: 10, F2: 10
Product 100: F1: 20, F2: 5
Product 100: F1: 25, F2: 4
Product 100: F1: 50, F2: 2
Product 100: F1: 100, F2: 1
Product 10000: F1: 100, F2: 100
Product 10000: F1: 125, F2: 80
Product 10000: F1: 200, F2: 50
Product 10000: F1: 250, F2: 40
Product 10000: F1: 400, F2: 25
Product 10000: F1: 500, F2: 20
Product 10000: F1: 625, F2: 16
Product 10000: F1: 1000, F2: 10
Product 10000: F1: 1250, F2: 8
Product 10000: F1: 2000, F2: 5
Product 10000: F1: 2500, F2: 4
Product 10000: F1: 5000, F2: 2
Product 10000: F1: 10000, F2: 1
Product 1000000: F1: 1000, F2: 1000
Product 1000000: F1: 1250, F2: 800
Product 1000000: F1: 1600, F2: 625
Product 1000000: F1: 2000, F2: 500
Product 1000000: F1: 2500, F2: 400
Product 1000000: F1: 3125, F2: 320
Product 1000000: F1: 4000, F2: 250
Product 1000000: F1: 5000, F2: 200
Product 1000000: F1: 6250, F2: 160
Product 1000000: F1: 8000, F2: 125
Product 1000000: F1: 10000, F2: 100
Product 1000000: F1: 12500, F2: 80
Product 1000000: F1: 15625, F2: 64
Product 1000000: F1: 20000, F2: 50
Product 1000000: F1: 25000, F2: 40
Product 1000000: F1: 31250, F2: 32
Product 1000000: F1: 40000, F2: 25
Product 1000000: F1: 50000, F2: 20
Product 1000000: F1: 62500, F2: 16
Product 1000000: F1: 100000, F2: 10
Product 1000000: F1: 125000, F2: 8
Product 1000000: F1: 200000, F2: 5
Product 1000000: F1: 250000, F2: 4
Product 1000000: F1: 500000, F2: 2
Product 1000000: F1: 1000000, F2: 1
Product 100000000: F1: 10000, F2: 10000
Product 100000000: F1: 12500, F2: 8000
Product 100000000: F1: 15625, F2: 6400
Product 100000000: F1: 16000, F2: 6250
Product 100000000: F1: 20000, F2: 5000
Product 100000000: F1: 25000, F2: 4000
Product 100000000: F1: 31250, F2: 3200
Product 100000000: F1: 32000, F2: 3125
Product 100000000: F1: 40000, F2: 2500
Product 100000000: F1: 50000, F2: 2000
Product 100000000: F1: 62500, F2: 1600
Product 100000000: F1: 78125, F2: 1280
Product 100000000: F1: 80000, F2: 1250
Product 100000000: F1: 100000, F2: 1000
Product 100000000: F1: 125000, F2: 800
Product 100000000: F1: 156250, F2: 640
Product 100000000: F1: 160000, F2: 625
Product 100000000: F1: 200000, F2: 500
Product 100000000: F1: 250000, F2: 400
Product 100000000: F1: 312500, F2: 320
Product 100000000: F1: 390625, F2: 256
Product 100000000: F1: 400000, F2: 250
Product 100000000: F1: 500000, F2: 200
Product 100000000: F1: 625000, F2: 160
Product 100000000: F1: 781250, F2: 128
Product 100000000: F1: 800000, F2: 125
Product 100000000: F1: 1000000, F2: 100
Product 100000000: F1: 1250000, F2: 80
Product 100000000: F1: 1562500, F2: 64
Product 100000000: F1: 2000000, F2: 50
Product 100000000: F1: 2500000, F2: 40
Product 100000000: F1: 3125000, F2: 32
Product 100000000: F1: 4000000, F2: 25
Product 100000000: F1: 5000000, F2: 20
Product 100000000: F1: 6250000, F2: 16
Product 100000000: F1: 10000000, F2: 10
Product 100000000: F1: 12500000, F2: 8
Product 100000000: F1: 20000000, F2: 5
Product 100000000: F1: 25000000, F2: 4
Product 100000000: F1: 50000000, F2: 2
Product 100000000: F1: 100000000, F2: 1
Product 10000000000: F1: 100000, F2: 100000
Product 10000000000: F1: 125000, F2: 80000
Product 10000000000: F1: 128000, F2: 78125
Product 10000000000: F1: 156250, F2: 64000
Product 10000000000: F1: 160000, F2: 62500
Product 10000000000: F1: 200000, F2: 50000
Product 10000000000: F1: 250000, F2: 40000
Product 10000000000: F1: 312500, F2: 32000
Product 10000000000: F1: 320000, F2: 31250
Product 10000000000: F1: 390625, F2: 25600
Product 10000000000: F1: 400000, F2: 25000
Product 10000000000: F1: 500000, F2: 20000
Product 10000000000: F1: 625000, F2: 16000
Product 10000000000: F1: 640000, F2: 15625
Product 10000000000: F1: 781250, F2: 12800
Product 10000000000: F1: 800000, F2: 12500
Product 10000000000: F1: 1000000, F2: 10000
Product 10000000000: F1: 1250000, F2: 8000
Product 10000000000: F1: 1562500, F2: 6400
Product 10000000000: F1: 1600000, F2: 6250
Product 10000000000: F1: 1953125, F2: 5120
Product 10000000000: F1: 2000000, F2: 5000
Product 10000000000: F1: 2500000, F2: 4000
Product 10000000000: F1: 3125000, F2: 3200
Product 10000000000: F1: 3200000, F2: 3125
Product 10000000000: F1: 3906250, F2: 2560
Product 10000000000: F1: 4000000, F2: 2500
Product 10000000000: F1: 5000000, F2: 2000
Product 10000000000: F1: 6250000, F2: 1600
Product 10000000000: F1: 7812500, F2: 1280
Product 10000000000: F1: 8000000, F2: 1250
Product 10000000000: F1: 9765625, F2: 1024
Product 10000000000: F1: 10000000, F2: 1000
Product 10000000000: F1: 12500000, F2: 800
Product 10000000000: F1: 15625000, F2: 640
Product 10000000000: F1: 16000000, F2: 625
Product 10000000000: F1: 19531250, F2: 512
Product 10000000000: F1: 20000000, F2: 500
Product 10000000000: F1: 25000000, F2: 400
Product 10000000000: F1: 31250000, F2: 320
Product 10000000000: F1: 39062500, F2: 256
Product 10000000000: F1: 40000000, F2: 250
Product 10000000000: F1: 50000000, F2: 200
Product 10000000000: F1: 62500000, F2: 160
Product 10000000000: F1: 78125000, F2: 128
Product 10000000000: F1: 80000000, F2: 125
Product 10000000000: F1: 100000000, F2: 100
Product 10000000000: F1: 125000000, F2: 80
Product 10000000000: F1: 156250000, F2: 64
Product 10000000000: F1: 200000000, F2: 50
Product 10000000000: F1: 250000000, F2: 40
Product 10000000000: F1: 312500000, F2: 32
Product 10000000000: F1: 400000000, F2: 25
Product 10000000000: F1: 500000000, F2: 20
Product 10000000000: F1: 625000000, F2: 16
Product 10000000000: F1: 1000000000, F2: 10
Product 10000000000: F1: 1250000000, F2: 8

KeyboardInterrupt:

In [37]:
product_df.to_csv('product_combinations.csv',index=False,header=True)

In [2]:
product_df = pd.read_csv('product_combinations.csv')

In [3]:

product_df['comparison_est'] = product_df['product'] - (product_df['factor2']-1)*product_df['factor2']
product_df.to_csv('product_combinations.csv',index=False,header=True)

In [40]:

product_df.head()

   product  factor1  factor2  comparison_est
0      100       10       10              10
1      100       20        5              80
2      100       25        4              88
3      100       50        2              98
4      100      100        1             100

In [46]:
top_comparisons = product_df.groupby('product')['comparison_est'].nlargest(12)
top_comparisons

product
100          4              100
             3               98
             2               88
             1               80
             0               10
10000        17           10000
             16            9998
             15            9988
             14            9980
             13            9944
             12            9910
             11            9760
             10            9620
             9             9400
             8             8440
             7             7550
             6             3680
1000000      42         1000000
             41          999998
             40          999988
             39          999980
             38          999944
             37          999910
             36          999760
             35          999620
             34          999400
             33          999008
             32          998440
             31          997550
100000000    83       100000000
             82        99999998
             81        99999988
             80        99999980
             79        99999944
             78        99999910
             77        99999760
             76        99999620
             75        99999400
             74        99999008
             73        99998440
             72        99997550
10000000000  144    10000000000
             143     9999999998
             142     9999999988
             141     9999999980
             140     9999999944
             139     9999999910
             138     9999999760
             137     9999999620
             136     9999999400
             135     9999999008
             134     9999998440
             133     9999997550
Name: comparison_est, dtype: int64

In [47]:
top_index = []
for i,j in top_comparisons.index.values.tolist():
    top_index.append(j)
top_index

[4,
 3,
 2,
 1,
 0,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 144,
 143,
 142,
 141,
 140,
 139,
 138,
 137,
 136,
 135,
 134,
 133]

In [48]:
top = product_df.loc[top_index]

In [49]:
top.head()

   product  factor1  factor2  comparison_est
4      100      100        1             100
3      100       50        2              98
2      100       25        4              88
1      100       20        5              80
0      100       10       10              10

In [50]:
top.drop(['product','comparison_est'],axis=1).to_csv('top_comparisons.csv',
                                                            index=False,
                                                            header=False)